__pycache__/perceptron_utilities.cpython-313.pyc
Monk_Cosimo/__pycache__/neural_network.cpython-313.pyc
img/plot.png
src/__pycache__/neural_network.cpython-313.pyc
src/__pycache__/mlp.cpython-313.pyc
src/__pycache__/utils.cpython-313.pyc
src/__pycache__/data_mipulation.cpython-313.pyc
Monk_Cosimo/__pycache__/training.cpython-313.pyc
Monk_Cosimo/__pycache__/data_manipulation.cpython-313.pyc
img/network.png
Monk_Cosimo/__pycache__/data_manipulation.cpython-313.pyc
Monk_Cosimo/__pycache__/training.cpython-313.pyc
src/__pycache__/data_manipulation.cpython-313.pyc
src/__pycache__/
.gitignore

src/img/
.gitignore
src/img/network
img/cup_plot.png
img/cup_network.png
.venv/
.venv/pyvenv.cfg
.venv/pyvenv.cfg
.gitignore
.venv/pyvenv.cfg
.venv/pyvenv.cfg
.venv/pyvenv.cfg
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_loss_epochs.png
monk1_performance.png
monk2_accuracy_vs_epochs.png
monk2_performance.png
monk3_bias_variance_epochs.png
monk3_loss_epochs.png
monk3_performance.png
monk3_performance_single.png
