__pycache__/perceptron_utilities.cpython-313.pyc
Monk_Cosimo/__pycache__/neural_network.cpython-313.pyc
img/plot.png
src/__pycache__/neural_network.cpython-313.pyc
src/__pycache__/mlp.cpython-313.pyc
src/__pycache__/utils.cpython-313.pyc
src/__pycache__/data_mipulation.cpython-313.pyc
Monk_Cosimo/__pycache__/training.cpython-313.pyc
Monk_Cosimo/__pycache__/data_manipulation.cpython-313.pyc
img/network.png
Monk_Cosimo/__pycache__/data_manipulation.cpython-313.pyc
Monk_Cosimo/__pycache__/training.cpython-313.pyc
src/__pycache__/data_manipulation.cpython-313.pyc
src/__pycache__/
.gitignore

src/img/
.gitignore
src/img/network
img/cup_plot.png
img/cup_network.png
